@font-face {
	font-family: 'Arvo';
	font-style: normal;
	font-weight: 400;
	src: local('Arvo'), url('/pages/themes/default/css/font/Arvo_400.eot?#iefix') format('embedded-opentype'), url('/pages/themes/default/css/font/Arvo_400.woff') format('woff'), url('/pages/themes/default/css/font/Arvo_400.ttf') format('truetype'), url('/pages/themes/default/css/font/Arvo_400.svg#Arvo') format('svg'); 
}
@font-face {
	font-family: 'Bree Serif';
	font-style: normal;
	font-weight: 400;
	src: local('Bree Serif'), local('BreeSerif-Regular'), url('/pages/themes/default/css/font/Bree_Serif_400.eot?#iefix') format('embedded-opentype'), url('/pages/themes/default/css/font/Bree_Serif_400.woff') format('woff'), url('/pages/themes/default/css/font/Bree_Serif_400.ttf') format('truetype'), url('/pages/themes/default/css/font/Bree_Serif_400.svg#BreeSerif') format('svg'); 
}
@font-face {
	font-family: 'Cabin';
	font-style: normal;
	font-weight: 400;
	src: local('Cabin Regular'), local('Cabin-Regular'), url('/pages/themes/default/css/font/Cabin_400.eot?#iefix') format('embedded-opentype'), url('/pages/themes/default/css/font/Cabin_400.woff') format('woff'), url('/pages/themes/default/css/font/Cabin_400.ttf') format('truetype'), url('/pages/themes/default/css/font/Cabin_400.svg#Cabin') format('svg'); 
}
@font-face {
	font-family: 'Droid Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Droid Sans'), local('DroidSans'), url('/pages/themes/default/css/font/Droid_Sans_400.eot?#iefix') format('embedded-opentype'), url('/pages/themes/default/css/font/Droid_Sans_400.woff') format('woff'), url('/pages/themes/default/css/font/Droid_Sans_400.ttf') format('truetype'), url('/pages/themes/default/css/font/Droid_Sans_400.svg#DroidSans') format('svg'); 
}
@font-face {
	font-family: 'Droid Serif';
	font-style: normal;
	font-weight: 400;
	src: local('Droid Serif'), local('DroidSerif'), url('/pages/themes/default/css/font/Droid_Serif_400.eot?#iefix') format('embedded-opentype'), url('/pages/themes/default/css/font/Droid_Serif_400.woff') format('woff'), url('/pages/themes/default/css/font/Droid_Serif_400.ttf') format('truetype'), url('/pages/themes/default/css/font/Droid_Serif_400.svg#DroidSerif') format('svg'); 
}
@font-face {
	font-family: 'Istok Web';
	font-style: normal;
	font-weight: 400;
	src: local('Istok Web Regular'), local('IstokWeb-Regular'), url('/pages/themes/default/css/font/Istok_Web_400.eot?#iefix') format('embedded-opentype'), url('/pages/themes/default/css/font/Istok_Web_400.woff') format('woff'), url('/pages/themes/default/css/font/Istok_Web_400.ttf') format('truetype'), url('/pages/themes/default/css/font/Istok_Web_400.svg#IstokWeb') format('svg'); 
}
@font-face {
	font-family: 'Josefin Slab';
	font-style: normal;
	font-weight: 400;
	src: local('Josefin Slab'), local('JosefinSlab'), url('/pages/themes/default/css/font/Josefin_Slab_400.eot?#iefix') format('embedded-opentype'), url('/pages/themes/default/css/font/Josefin_Slab_400.woff') format('woff'), url('/pages/themes/default/css/font/Josefin_Slab_400.ttf') format('truetype'), url('/pages/themes/default/css/font/Josefin_Slab_400.svg#JosefinSlab') format('svg'); 
}
@font-face {
	font-family: 'Jura';
	font-style: normal;
	font-weight: 400;
	src: local('Jura Regular'), local('Jura-Regular'), url('/pages/themes/default/css/font/Jura_400.eot?#iefix') format('embedded-opentype'), url('/pages/themes/default/css/font/Jura_400.woff') format('woff'), url('/pages/themes/default/css/font/Jura_400.ttf') format('truetype'), url('/pages/themes/default/css/font/Jura_400.svg#Jura') format('svg'); 
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local('Lato Regular'), local('Lato-Regular'), url('/pages/themes/default/css/font/Lato_400.eot?#iefix') format('embedded-opentype'), url('/pages/themes/default/css/font/Lato_400.woff') format('woff'), url('/pages/themes/default/css/font/Lato_400.ttf') format('truetype'), url('/pages/themes/default/css/font/Lato_400.svg#Lato') format('svg'); 
}
@font-face {
	font-family: 'Lobster Two';
	font-style: normal;
	font-weight: 400;
	src: local('Lobster Two'), local('LobsterTwo'), url('/pages/themes/default/css/font/Lobster_Two_400.eot?#iefix') format('embedded-opentype'), url('/pages/themes/default/css/font/Lobster_Two_400.woff') format('woff'), url('/pages/themes/default/css/font/Lobster_Two_400.ttf') format('truetype'), url('/pages/themes/default/css/font/Lobster_Two_400.svg#LobsterTwo') format('svg'); 
}
@font-face {
	font-family: 'Lora';
	font-style: normal;
	font-weight: 400;
	src: local('Lora'), local('Lora-Regular'), url('/pages/themes/default/css/font/Lora_400.eot?#iefix') format('embedded-opentype'), url('/pages/themes/default/css/font/Lora_400.woff') format('woff'), url('/pages/themes/default/css/font/Lora_400.ttf') format('truetype'), url('/pages/themes/default/css/font/Lora_400.svg#Lora') format('svg'); 
}
@font-face {
	font-family: 'Lustria';
	font-style: normal;
	font-weight: 400;
	src: local('Lustria'), local('Lustria-Regular'), url('/pages/themes/default/css/font/Lustria_400.eot?#iefix') format('embedded-opentype'), url('/pages/themes/default/css/font/Lustria_400.woff') format('woff'), url('/pages/themes/default/css/font/Lustria_400.ttf') format('truetype'), url('/pages/themes/default/css/font/Lustria_400.svg#Lustria') format('svg'); 
}
@font-face {
	font-family: 'Muli';
	font-style: normal;
	font-weight: 400;
	src: local('Muli'), url('/pages/themes/default/css/font/Muli_400.eot?#iefix') format('embedded-opentype'), url('/pages/themes/default/css/font/Muli_400.woff') format('woff'), url('/pages/themes/default/css/font/Muli_400.ttf') format('truetype'), url('/pages/themes/default/css/font/Muli_400.svg#Muli') format('svg'); 
}
@font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 400;
	src: local('Nunito-Regular'), url('/pages/themes/default/css/font/Nunito_400.eot?#iefix') format('embedded-opentype'), url('/pages/themes/default/css/font/Nunito_400.woff') format('woff'), url('/pages/themes/default/css/font/Nunito_400.ttf') format('truetype'), url('/pages/themes/default/css/font/Nunito_400.svg#Nunito') format('svg'); 
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url('/pages/themes/default/css/font/Open_Sans_400.eot?#iefix') format('embedded-opentype'), url('/pages/themes/default/css/font/Open_Sans_400.woff') format('woff'), url('/pages/themes/default/css/font/Open_Sans_400.ttf') format('truetype'), url('/pages/themes/default/css/font/Open_Sans_400.svg#OpenSans') format('svg'); 
}
@font-face {
	font-family: 'Oswald';
	font-style: normal;
	font-weight: 400;
	src: local('Oswald Regular'), local('Oswald-Regular'), url('/pages/themes/default/css/font/Oswald_400.eot?#iefix') format('embedded-opentype'), url('/pages/themes/default/css/font/Oswald_400.woff') format('woff'), url('/pages/themes/default/css/font/Oswald_400.ttf') format('truetype'), url('/pages/themes/default/css/font/Oswald_400.svg#Oswald') format('svg'); 
}
@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 400;
	src: local('PT Sans'), local('PTSans-Regular'), url('/pages/themes/default/css/font/PT_Sans_400.eot?#iefix') format('embedded-opentype'), url('/pages/themes/default/css/font/PT_Sans_400.woff') format('woff'), url('/pages/themes/default/css/font/PT_Sans_400.ttf') format('truetype'), url('/pages/themes/default/css/font/PT_Sans_400.svg#PTSans') format('svg'); 
}
@font-face {
	font-family: 'Pacifico';
	font-style: normal;
	font-weight: 400;
	src: local('Pacifico Regular'), local('Pacifico-Regular'), url('/pages/themes/default/css/font/Pacifico_400.eot?#iefix') format('embedded-opentype'), url('/pages/themes/default/css/font/Pacifico_400.woff') format('woff'), url('/pages/themes/default/css/font/Pacifico_400.ttf') format('truetype'), url('/pages/themes/default/css/font/Pacifico_400.svg#Pacifico') format('svg'); 
}
@font-face {
	font-family: 'Patua One';
	font-style: normal;
	font-weight: 400;
	src: local('Patua One'), local('PatuaOne-Regular'), url('/pages/themes/default/css/font/Patua_One_400.eot?#iefix') format('embedded-opentype'), url('/pages/themes/default/css/font/Patua_One_400.woff') format('woff'), url('/pages/themes/default/css/font/Patua_One_400.ttf') format('truetype'), url('/pages/themes/default/css/font/Patua_One_400.svg#PatuaOne') format('svg'); 
}
@font-face {
	font-family: 'Poly';
	font-style: normal;
	font-weight: 400;
	src: local('Poly-Regular'), url('/pages/themes/default/css/font/Poly_400.eot?#iefix') format('embedded-opentype'), url('/pages/themes/default/css/font/Poly_400.woff') format('woff'), url('/pages/themes/default/css/font/Poly_400.ttf') format('truetype'), url('/pages/themes/default/css/font/Poly_400.svg#Poly') format('svg'); 
}
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url('/pages/themes/default/css/font/Source_Sans_Pro_400.eot?#iefix') format('embedded-opentype'), url('/pages/themes/default/css/font/Source_Sans_Pro_400.woff') format('woff'), url('/pages/themes/default/css/font/Source_Sans_Pro_400.ttf') format('truetype'), url('/pages/themes/default/css/font/Source_Sans_Pro_400.svg#SourceSansPro') format('svg'); 
}
@font-face {
	font-family: 'Varela Round';
	font-style: normal;
	font-weight: 400;
	src: local('Varela Round'), local('VarelaRound-Regular'), url('/pages/themes/default/css/font/Varela_Round_400.eot?#iefix') format('embedded-opentype'), url('/pages/themes/default/css/font/Varela_Round_400.woff') format('woff'), url('/pages/themes/default/css/font/Varela_Round_400.ttf') format('truetype'), url('/pages/themes/default/css/font/Varela_Round_400.svg#VarelaRound') format('svg'); 
}
@font-face {
	font-family: 'Vollkorn';
	font-style: normal;
	font-weight: 400;
	src: local('Vollkorn Regular'), local('Vollkorn-Regular'), url('/pages/themes/default/css/font/Vollkorn_400.eot?#iefix') format('embedded-opentype'), url('/pages/themes/default/css/font/Vollkorn_400.woff') format('woff'), url('/pages/themes/default/css/font/Vollkorn_400.ttf') format('truetype'), url('/pages/themes/default/css/font/Vollkorn_400.svg#Vollkorn') format('svg'); 
}
